<div class="container body-content">
    <div class="well">
        <div class="row">
            {{#each articles}}
                <div class="col-md-6" >
                    <article>
                        <header>
                            <h2>{{this.title}}</h2>
                        </header>
                        <h3>
                            {{this.bookAuthor}}
                        </h3>



                        <small class="author">
                            {{this.author.fullName}}
                        </small>
                        <h3>
                            <a href="/article/details/{{this.id}}">
                            <img src="http://weknowyourdreams.com/images/book/book-03.jpg" alt="Mountain View" style="width:234px;height:178px;"></a>
                        </h3>
                        <h5>
                            Available format: {{format}}
                        </h5>


                        <footer>

                            <div class="pull-right">

                                <a class="btn btn-default btn-xs" href="/article/details/{{this.id}}">View details &raquo;</a>
                            </div>
                        </footer>
                    </article>
                </div>
            {{/each}}
        </div>
    </div>
</div>
